code{
    overflow: scroll;
    display: block;
    width: 114514px;
}

code::-webkit-scrollbar
{
    width: 0;
    height: 0;
    /* background-color: rgb(240,240,240); */
}

.y-code::-webkit-scrollbar
{
    width: 0;
    height: 10px;
    /* background-color: rgb(240,240,240); */
}

/*定义滚动条轨道 内阴影+圆角*/
.y-code::-webkit-scrollbar-track
{
    -webkit-box-shadow: transparent;
    border-radius: 10px;
    background-color: transparent;
}

/*定义滑块 内阴影+圆角*/
.y-code::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(193,193,193);
    background-color: rgb(193,193,193);
}